/Omnibot/projects/msvc12/ProtoBuffMessages/Debug/*.idb
/Omnibot/projects/msvc12/ProtoBuffMessages/Debug/*.lastbuildstate
/Omnibot/projects/msvc12/build
/Omnibot/projects/msvc12/*.sdf
/Omnibot/projects/msvc12/*.opensdf

.DS_Store
/0.83/Omnibot/*build*/
/0.83/Omnibot/.idea/
.vscode/
.vs/
*.vcxproj.user
/build/
/0.83/Omnibot/projects/msvc12/build/
/0.83/GameInterfaces/ET/src/build*/
/0.83/GameInterfaces/RTCW/src/build*/
/0.83/Installer/Files/rtcw/scripts/rtcw_autoexec_user.gm
